.header {
    display: flex;
    border: 3px solid #ddd; /* Replace with actual $header-outline color */
    max-width: 43.75rem;
    width: 100%;
    margin-top: 1.875rem;
    border-radius: 1rem;
    padding: 1.25rem;
    justify-content: space-between;
  }
  
  .header .text {
    font-size: 2.5rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 2rem;
  }
  
  .header .score-box {
    padding: 0.75rem 2.5rem;
    background-color: #fff;
    color: #333; /* Replace with actual $score-text color */
    border-radius: 5px;
  }
  
  .header .score-box__score {
    color: #000; /* Replace with actual $dark-text color */
    font-size: 3.5rem;
    font-weight: 700;
  }
  