.modal-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-box {
    color: #000; /* Replace with actual $dark-text color */
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
  }
  
  .modal-box img {
    width: 100%;
  }
  
  .modal__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .modal__header h1 {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
  
  button {
    background: none;
    border: none;
    align-self: center;
    color: #000; /* Replace with actual $dark-text color */
  }
  
  button:hover {
    cursor: pointer;
  }
  